servers:
  - name: "example"
    host: "0.0.0.0"
    user: "user"
    key_path: "~/.ssh/id_rsa"
    applications:
      - name: "web"
        description: "Example of adding port forwarding."
        port:
          local: 10000
          remote: 8080
      - name: "code-server"
        description: "Code Server"
        port:
          local: 42069
          remote: 1234
